*{
    padding: 0;
    margin: 0;
}
.container .row{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.container .row .col{
    width: 400px;
    height: 368px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.5);
    background-color: white;
    transition: 0.5s;
    border-radius: 5px;
}
.container .row .col:hover{
    transform: scale(1.1);
}
.container .row .col img{
    width: 400px;
    height: auto;
}
.container .row .col .text{
    padding: 10px;
}
.container .row .col .fee{
color: rgb(78, 76, 76);
}
.container .row .col .title{
    color: crimson;
    margin-bottom: 10px;
}
.container .row .col .text p {
    margin-bottom: 10px;
}
.container .row .col .text p i{
    color: gold;
}
